@font-face {
  font-family: "iconfont"; /* Project id 2456124 */
  src: url('iconfont.woff2?t=1622019251580') format('woff2'),
       url('iconfont.woff?t=1622019251580') format('woff'),
       url('iconfont.ttf?t=1622019251580') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zt-closed-full:before {
  content: "\e6a1";
}

.icon-zt-closed:before {
  content: "\e980";
}

.icon-zt-jiankong:before {
  content: "\e60d";
}

.icon-zt-tangci:before {
  content: "\e636";
}

.icon-zt-chutu:before {
  content: "\e86c";
}

.icon-zt-xiaona:before {
  content: "\e639";
}

.icon-zt-ditu:before {
  content: "\e612";
}

.icon-zt-gongdi:before {
  content: "\e63c";
}

.icon-zt-renwu:before {
  content: "\e60f";
}

.icon-zt-riqi:before {
  content: "\e64a";
}

.icon-zt-bojin:before {
  content: "\e606";
}

.icon-zt-daohang:before {
  content: "\e610";
}

.icon-zt-gengduo:before {
  content: "\e6b6";
}

.icon-zt-chakan:before {
  content: "\e604";
}

.icon-zt-huoche:before {
  content: "\e6ff";
}

.icon-zt-car:before {
  content: "\e700";
}

